<template>
	<div class="vx-row">
<!-- HORIZONTAL LAYOUT -->
		<div class="vx-col md:w-1/1 w-full mb-base">
			<vx-card title="Post Blog">
				<div class="vx-row mb-6">
					
					<div class="vx-col sm:w-1/1 w-full">
						<vs-input class="inputx w-full" placeholder="Blog Title" v-model="value1" />
					</div>
				</div>
				
					
					  <quill-editor class="w-full" v-model="content"></quill-editor>
					
					<br>


        
				<div class="vx-row">
					<div class="vx-col sm:w-2/3 w-full ml-auto">
						<vs-button class="mr-3 mb-2">Submit</vs-button>
						<vs-button color="warning" type="border" class="mb-2" @click="value1 = content = ''; check1 = false;">Reset</vs-button>
					</div>
				</div>
			</vx-card>
		</div>
</div>
</template>



<script>
// require styles
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
  data() {
    return {
      content: ``,
      value1: '',
    }
  },
  components: {
    quillEditor,
  }
}
</script>
