<template>
	<div class="vx-row">
<!-- HORIZONTAL LAYOUT -->
		<div class="vx-col md:w-1/1 w-full mb-base" vs-justify="center">
			<vx-card title="Feedback">
				<div class="vx-row mb-6">
					<div class="vx-col sm:w-2/3 w-full">
						<span>Full Name</span>
					</div>
					<div class="vx-col sm:w-2/2 w-full">
						<vs-input class="w-full" v-model="input1" />
					</div>
				</div>
				<div class="vx-row mb-6">
					<div class="vx-col sm:w-2/3 w-full">
						<span>Email</span>
					</div>
					<div class="vx-col sm:w-2/2 w-full">
						<vs-input class="w-full" type="email" v-model="input2" />
					</div>
				</div>
				<div class="vx-row mb-6">
					<div class="vx-col sm:w-2/3 w-full">
						<span>Mobile</span>
					</div>
					<div class="vx-col sm:w-2/2 w-full">
						<vs-input class="w-full" v-model="input3" />
					</div>
				</div>
				<div class="vx-row mb-6">
					<div class="vx-col sm:w-2/3 w-full">
						<span>Comments</span>
					</div>
					<div class="vx-col sm:w-2/2 w-full">
						<vs-textarea class="w-full" v-model="textarea" />
					</div>
				</div>
				<div class="vx-row">
					<div class="vx-col sm:w-2/3 w-full ml-auto">
						<vs-button class="mr-3 mb-2">Submit</vs-button>
						<vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input4 = textarea = ''; check1 = false;">Reset</vs-button>
					</div>
				</div>
			</vx-card>
		</div>
	</div>
</template>

<script>
export default{
	data() {
		return {
			check1: '',
			check2: '',
			check3: '',
			check4: '',
			check5: '',
			check6: '',
			check7: '',
			input1: '',
			input2: '',
			input3: '',
			input4: '',
			input5: '',
			input6: '',
			input7: '',
			input8: '',
			input9: '',
			input10: '',
			input11: '',
			input12: '',
			input13: '',
			input14: '',
			input15: '',
			input16: '',
			input17: '',
			input18: '',
			input19: '',
			input20: '',
			input21: '',
			input22: '',
			input23: '',
			input24: '',
			input25: '',
			input26: '',
			input27: '',
			input28: '',
			input29: '',
			input30: '',
			textarea: '',
		}
	}
}
</script>
